<div class="panel">
<h1 class="logo">html</h1>

    <details>
        <summary>TEXT</summary>

        <h3>Title:</h3>
        <input type="text" ng-model="tpl_html_title">

        <h3>Body:</h3>
        <textarea ng-model="tpl_body_text"></textarea>
    </details>

    <details>
        <summary>META</summary>

        <h3>Description:</h3>
        <input type="text" ng-model="tpl_meta_description">

        <h3>Keywords:</h3>
        <input type="text" ng-model="tpl_meta_keywords">

        <h3>&lt;body&gt; classes:</h3>
        <input type="text" ng-model="tpl_tag_body_classes">

    </details>

    <details>
        <summary>SCRIPTS</summary>

        <h3>USE:</h3>
        <p><button ng-click="useScript('js','jquery v1')">add <i class="fa fa-plus"></i> </button> Jquery V1.x.x</p>
        <p><button ng-click="useScript('js','jquery-migrate')">add <i class="fa fa-plus"></i> </button> Jquery-migrate</p>
        <p><button ng-click="useScript('js','jquery v2')">add <i class="fa fa-plus"></i> </button> Jquery V2.x.x</p>
        <p><button ng-click="useScript('js','modernizr')">add <i class="fa fa-plus"></i> </button> Modernizr</p>
        <p><button ng-click="useScript('js','local-file')">add <i class="fa fa-plus"></i> </button> local JS file</p>
        <p><button ng-click="useScript('css','normalize')">add <i class="fa fa-plus"></i> </button> Normalize CSS</p>
        <p><button ng-click="useScript('css','local-file')">add <i class="fa fa-plus"></i> </button> local CSS file</p>
    </details>


</div>

<div class="content">
    <h1>{{welcome}}</h1>

    <tpl-code type="type" name="name" title="tpl_html_title"></tpl-code>

</div>

<a ng-click=""><i class="fa fa-clipboard"></i> Copy to clipboard</a>
